.DS_Store
Thumbs.db

node_modules/
frontend/node_modules/
server/node_modules/

npm-debug.log*
yarn-error.log*
yarn.lock
pnpm-lock.yaml
package-lock.json

logs
*.log
log.txt
pnpm-debug.log*
lerna-debug.log*

.env
.env.*
!.env.example

.dist/
dist/
build/
.out/
.next/
.cache/
coverage/
.tmp/
.temp/
.vite/
vite-cache/
storybook-static/

.vscode/
.idea/
*.iml

.git-credentials

spring-app/target/
spring-app/.mvn/
spring-app/.classpath
spring-app/.project
spring-app/.settings/
spring-app/mvnw
spring-app/mvnw.cmd
spring-app/*.iml

.sass-cache/
.parcel-cache/
eslintcache
.nyc_output
